.teamFormLogo {
  text-align: center;
}

.mainTeamSet {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}
.teamForm {
  padding-left: 20px;
  color: white;
}

.teamFormLabel {
  display: inline-block;
  width: 175px;
}

.teamFormSelect {
  color: #000;
  margin: 5px;
  width: 250px;
}

.teamFormSubmit {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .teamFormSelect {
    background-color: #fff;
    margin-top: 5px;
    margin-left: 0;
  }

  .teamFormSubmit {
    text-align: left;
    
  }

  .btn-default{
    margin: 0;
  }
}
