.userProfile {
  text-align: center;
}

.userForm {
  display: block;
}

.userFormSet {
  display: block;
  -webkit-margin-start: 2px;
  -webkit-margin-end: 2px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
}

.userFormGroup {
  display: block;
  margin: 0;
  padding: 0.35em 0 0.75em;
}

.userFormGroup label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0 1em 0 0;
}

form input[type="text"],
input[type="Email"],
input[type="Checkbox"] {
  color: #000;
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 200px;
}

.userFormErrorBlock {
  color: red;
}

.btn-default {
  background-color: #30303c;
  border-color: #30303c;
  color: #fff;
  margin: 2em;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: gold;
  border-color: gold;
  color: #000;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.btn {
  width: 100px;
}
