.allLeagues {
  text-align: center;
}

img {
  margin: 10px;
  max-width: 100%;
  max-height: 100%;
}

.mainLogo {
  width: 150px;
  height: 150px;
  border: solid 1px rgb(153, 149, 149);
	background-color: #eed;
	box-shadow: -10px 10px  rgba(0,0,0,0.6);
	-moz-box-shadow: -10px 10px rgba(0,0,0,0.6);
	-webkit-box-shadow: -10px 10px rgba(0,0,0,0.6);
	-o-box-shadow: -10px 10px rgba(0,0,0,0.6);
	border-radius: 100px;
}

.link-style {
  background-color: #000;
  color: #fff;
  padding: 8px 12px;
  line-height: 2;
  border-radius: 4px;
}

.link-style:hover {
  background-color: gold;
  color: #000;
  text-decoration: none;
}

.grid-link-style {
  color: gold;
  text-decoration: underline;
}

.grid-link-style:hover {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.ReactTable .rt-noData {
  background: transparent;
  color: #fff;
}

.ReactTable {
  border: #555;
  margin: 5px;
  color: #fff;
  background-color: #30303C;
}

.ReactTable .rt-tbody .rt-tr-group {
  border-bottom: solid 1px #D3D3D3;
}

.createTeamBtn {
  padding: 0 !important;
  color: #000;
}

.rt-mobileHeader {
  display: none;
}

.rt-Link {
 display: inline-block;
}

@media only screen and (max-width: 600px) {
  .ReactTable {
    border: none;
  }

  .ReactTable .rt-thead {
    display: none;
  }

  .ReactTable .rt-tr {
    display: table-row !important;
    margin-bottom: 0 !important;
  }

  .ReactTable .tr-td {
    display: table-cell !important;
    text-align: left !important;
    font-size: 14px !important;
  }

  .ReactTable .rt-td {
    text-align: left !important;
  }

  .ReactTable .rt-tbody .rt-td {
    border: none;
    width: 100% !important;
  }

  .rt-mobileHeader {
    width: 105px;
    display: inline-block;
    color: #fff;
    text-decoration: underline;
  }
}
