.myLeaguesNavBar {
  height: 100%; 
  width: 160px; 
  position: fixed; 
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden; 
}

.myLeaguesNavBar h5 {
  color: #30303c;
  text-align: left;
  display: block;
  font-weight: bold;
  padding-left: 10px;
}

.myLeaguesNavBar a {
  text-decoration: none;
  color: #30303c;
  display: block;
  padding-left: 20px;
}

.myLeaguesNavBar a:hover {
  background-color: gold;
}

.main {
  margin-left: 160px; 
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}